<div id="footer-trigger"></div>
<footer class="site-footer" id="site-footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col">
        <h3>VocabLearn</h3>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      
      <div class="footer-col">
        <h3>Liens</h3>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/aboutme">À propos</a></li>
          <li><a href="/dashboard">Vocabulaire</a></li>
        </ul>
      </div>
      
      <div class="footer-col">
        <h3>Contact</h3>
        <p><i class="fas fa-envelope"></i> contact@vocablearn.com</p>
      </div>
    </div>
    
    <div class="copyright">
      &copy; <span id="current-year">2023</span> VocabLearn
    </div>
  </div>
</footer>



