<link rel="stylesheet" href="/css/common/footer.css">
<footer class="site-footer" id="site-footer" >
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col">
        <h3>VocabLearn</h3>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      
      <div class="footer-col">
        <h3>Liens</h3>
        <div class="footer-links">
          <a href="/">Accueil</a>
          <a href="/aboutme">À propos</a>
          <a href="/dashboard">Vocabulaire</a>
        </div>
      </div>
      
      <div class="footer-col">
        <h3>Contact</h3>
        <p><i class="fas fa-envelope"></i> contact@vocablearn.com</p>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; <span id="current-year">2025</span> SealVo. All rights reserved.</p>
    </div>
  </div>
</footer>



