<link rel="stylesheet" href="/css/password-reset.css">

    <div class="forgot-password-container">
        <h1 class="forgot-password-title">Forgot Password</h1>
        
        <div id="alert" class="alert"> </div>
        
        <form class="forgot-password-form" action="/login/forgotPassword" method="POST">
            <div class="input-icon-wrapper">
                <input type="email" id="email" name="email" placeholder="Adresse email" required>
                <i class="input-icon fas fa-envelope"></i>
                <span class="focus-border"></span>
            </div>
            
            <button type="submit" class="btn-submit">Send Reset Link</button>
        </form>
        
        <a href="/login" class="back-link">Back to Login</a>
    </div>
<script src="/js/forgotPass.js" nonce="{{nonce}}"></script>