  <div class="home-container">
    <h1>Welcome to Web Vocab</h1>
    <p>Enhance your vocabulary with our learning platform!</p>
    <div class="navigation">
      <a href="/login" class="btn">Login</a>
      <a href="/registre" class="btn">Register</a>
      <a href="/aboutme" class="btn">About me</a>
    </div>
  </div>
