<link rel="stylesheet" href="/css/password-reset.css">
    <div class="reset-password-container">
        <h1 class="reset-password-title">Reset Password</h1>
        
        {{#if error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {{/if}}
        
        {{#if success}}
        <div class="alert alert-success">
            {{success}}
        </div>
        {{/if}}
        
        <form class="reset-password-form" action="/login/resetPassword" method="POST">
            <!-- Hidden token field, will be filled from URL parameter -->
            <input type="hidden" name="token" value="{{token}}">
            
            <div class="input-icon-wrapper">
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe (min 8 caractères)" required minlength="8">
                <i class="input-icon fas fa-lock"></i>
                <span class="focus-border"></span>
            </div>
            
            <div class="input-icon-wrapper">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmer le mot de passe" required minlength="8">
                <i class="input-icon fas fa-lock"></i>
                <span class="focus-border"></span>
            </div>
            
            <button type="submit">Reset Password</button>
        </form>
        
        <a href="/login" class="back-link">Back to Login</a>
    </div>

    <script>
        // Simple password matching validation
        document.getElementById('confirm_password').addEventListener('input', function() {
            const password = document.getElementById('password').value;
            const confirmPassword = this.value;
            
            if (password !== confirmPassword) {
                this.setCustomValidity('Passwords do not match');
            } else {
                this.setCustomValidity('');
            }
        });
    </script>
</body>
</html>
